h1 {
	text-align: center;
}
p {
	color: black;
	font-size: 12px;
}
#sentencep {
	color: brown;
}
#jibberishp {
	background-color: yellow;
}
.bigtext {
	font-size: 35px;
}
div {
	height: 50px;
	width: 50px;
	background-color: blue;
}
.tab {
	color: white;
	display: none;
	padding: 50px;
	text-align: center;
}
/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

